@import '$mdl/variables';
@import '$mdl/mixins';

pre {
    font-family: 'Roboto Mono' monospace;
    @include shadow-2dp();
    padding: 8px;
}
li > p {
    margin-top: 16px;
}
blockquote {
    margin: 0;
    padding: 0 16px;
    border-left: 4px solid rgba(0,0,0,0.12);
    color: rgba(0,0,0,0.54);
    &:before {
        content: none;
    }

    &:after {
        content: none;
    }
}
